<h1>About</h1>

<h3>***Under development***</h3>
<p>
The Convert Case is an easy-to-use tool that lets you convert blocks of text into any desired case format. You can then export the converted text to a text file or copy and paste it back into your own document.

This tool is especially useful if you accidentally leave your caps lock on while typing a document or if you want to ensure that a document has the correct capitalizations.

To use the tool, simply copy and paste your text into the text area provided, and then select the desired case format to convert.
</p>
