<h1>Contact</h1>

<br>

<p>Made by Carlos Nardi</p>


<p>Link to <%= link_to "GitHub", "https://github.com/carlosnardi/Convert_Case" %></p>

<p>Link to <%= link_to 'LinkedIn', "https://www.linkedin.com/in/carlos-nardi-363a43262/" %></p>
