<h3>Tools for you</h3>

<p>Easy to use tools</p>

<h4><%= link_to 'Case converter', index_path %></h4><span>Lets you convert text in any case, which you can then export back to your own document.</span>
<p>If you accidentally left caps lock on, here's the solution!</p>
<p>Also count the number of characters, words and lines.</p>
<h6>Functions with examples:</h6>
<h6>Uppercase: </h6><span>UPPERCASE YOUR TEXT</span>
<h6>Lowercase: </h6><span>lowercase your text</span>
<h6>Capitalize: </h6><span>Capitalize the first letter of the sentence. Did you like it? Very useful for tidying up texts.</span>
<h6>Titleize: </h6><span>Capitalize The First Letter Of Each Word</span>
<h6>Invert: </h6><span>iNVERT tEXT bETWEEN uPPER AND lOWERCASE</span><br>
<br>
<h4><%= link_to 'Other tools', other_tools_path%></h4>
<p>Other tools are gradually been added.</p> 


