<div class='title_section'>
    <h1 class='inline'>Tools <h1 class='enhance'>4</h1> <h1 class='inline'> you</h1><br>
    <br>
    <h3 class='font_light'>Easy to use tools</h3><br>
</div>
<div class='body_section'>
    <h4><a href="/converter/index" class='access_edit'>Case converter</a></h4><span>Lets you convert text in any case, which you can then export back to your own document.</span>
    <p>If you accidentally left caps lock on, here's the solution!</p>
    <p>Also count the number of characters, words and lines.</p>
    <h5>Functions with examples:</h5>
    <br>
    <h5 class="inline">Uppercase: </h5><span class="inline">UPPERCASE YOUR TEXT</span><br>
    <br>
    <h5 class="inline">Lowercase: </h5><span class="inline">lowercase your text</span><br>
    <br>
    <h5 class="inline">Capitalize: </h5><span class="inline">Capitalize the first letter of the sentence. Did you like it? Very useful for tidying up texts.</span><br>
    <br>
    <h5 class="inline">Titleize: </h5><span class="inline">Capitalize The First Letter Of Each Word</span><br>
    <br>
    <h5 class="inline">Invert: </h5><span class="inline">iNVERT tEXT bETWEEN uPPER AND lOWERCASE</span><br>
    <br>
    <br>
    <h4><a href="/pages/other_tools" class='access_edit'>Other tools</a></h4><br>
    <p>Other tools are gradually been added.</p> 
</div>


