<h1>Other tools</h1>

<%= link_to 'Temperature converter', temp_path %><br>
<%= link_to "Speed Converter", speed_path %> <br>
<%= link_to "Volume Converter", volume_path %> <br>
<%= link_to "Create forms for Ruby on Rails view files", create_form_path %> <br>